*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
html{
    scroll-behavior: smooth;
}
nav{
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 30px;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 999;

}
li{
    list-style: none;
}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;

}
ul{
    display: flex;
    gap: 30px;
}
.main{
    background: url("image/background.jpg");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.mtxt{
    margin-top: -600px;
    margin-left: 80px;

}
span{
    color: greenyellow;
}
.mtxt p{
    line-height: 1.3;
}
.mtxt h1{
    font-family: "Lemon Dessert";
    font-size: 90px;
}
input{
    width: 400px;
    height: 30px; border: none;
    outline: none;
    padding: 4px;
}
button{
    height: 30px;
    width: 100px;
    margin-left: -7px;padding: 4px;
    border: none;
    outline: none;
    background-color: greenyellow;
}
i{
    /* margin-left: 6px; */
    margin-right: -18px;
    color: rgb(115, 15, 15);
}
input::placeholder{
    margin-left: 15px;
}


.card{
    margin-top: 210px;
    padding-top: 140px;
    display: flex;
    justify-content: center; gap: 13px;
}
.card img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 5%;
    opacity: 0.5;

   
}
.small{
    position: relative;
}
.child{
    position: absolute;
    top: 40%;
    text-align: center;
    left: 16%;
    font-family: "Arnitta Callina";
    /* font-family: "Lemon Dessert"; */
    font-weight: 800px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    /* text-transform: uppercase; */
}

.sec{
    display: flex;
    justify-content: space-between;
    margin-top: 40px; padding-top: 140px;
}
.sec img{
    width: 700px;
    height: 500px;
    border-radius: 5%;
    object-fit: cover;
}
.left{
    padding: 20px;
    width: 700px;
    text-align: justify;

}
.left h2{
    font-size: 60px;
    font-family: "Lemon Dessert";
    color: greenyellow;
}
.left h3{
    margin-top: 15px;
}
.left p{
    margin-top: 15px;
    line-height: 1.3;
}
.left button{
    margin-left: 2px; margin-top: 15px;
}
.head{
    text-align: center;    font-size: 50px;
    font-family: "Lemon Dessert";
    color: greenyellow;
}
.crrd{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 40px;
    text-align: center;
}
.third{
    margin-top: 80px; padding-top: 140px;
    
}
.third img{
    border-radius: 5%;
    height: 500px;
}
.stxt{
    margin-top: 13px;
    padding: 9px;
}
.stxt button{
    margin-top: 9px;
}

.banner{
    background: url("image/banner.jpg");
    width: 90%;
    height: 60vh;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 50px;
    object-fit: cover;
    border-radius: 20px;
    margin-left: 5%; 
    /* padding-top: 20%; */
    
}
.btxt{
    position: absolute;
    top: 30%;
    text-align: justify;
    left: 5%;
    padding: 20px;
}
.btxt p{
    text-align: justify;margin-top: 14px;
}

.btxt h1{
    text-align: center;    font-size: 50px;
    font-family: "Lemon Dessert";
    color: greenyellow;margin-top: 14px;
}
.btxt button{
    margin-left: 3px;
    margin-top: 14px;
}

.final{
    margin-top: 50px;
    justify-content: space-between;
    display: flex;
    padding: 30px;
    padding-top: 120px;

}
.fleft img{
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;

}
.frig{
    margin-top: 60px;
    padding: 20px;
}

.frig input{
    background-color: transparent;
    color: white;
    border: none;
    width: 250px;
    border-bottom: 1px solid greenyellow;
    margin-top: 30px;
}

.frig button{
    margin-left: 20px;
}

.frig h5{
    margin-top: 30px;
}

.footer{
    background-color: grey;
    color: white;
    text-align: center;
    padding: 20px;   font-family: "Arnitta Callina";
}